@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.menu-container {
    width: 90%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    position: relative;
}

.menu-item:last-child {
    border-bottom: none;
}

.menu-item img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin-right: 20px;
}

.menu-details h2 {
    font-size: 1.2em;
    color: #333;
}

.menu-details p {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
}

.price {
    font-weight: bold;
    color: #007BFF;
    margin-top: 8px;
    display: inline-block;
}

/* Add to Cart Button Styling */
.add-to-cart {
    margin-left: auto;
    padding: 10px 20px;
    font-size: 0.9em;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #218838;
}
